.listItem {
  background-color: #272727;
  list-style: none;
  padding: 30px;
  border-radius: 20px;
  margin-bottom: 15px;
  width: 80%;
}
.header {
  display: flex;
  justify-content: space-between;
  width: 30%;
}
.companyLogo {
  height: 100px;
  width: 100px;
}
.locationContainer {
  display: flex;
  justify-content: space-between;
}
.employmentType {
  display: flex;
  justify-content: space-between;
  width: 20%;
}
.descriptionHead {
  color: white;
  font-family: 'Roboto';
  font-size: 20px;
}
.descriptionText {
  font-size: 15px;
}
.linkElement {
  text-decoration: none;
  cursor: pointer;
}
