.jobsHomeContainer {
  padding: 20px;
  background-color: black;
  height: 100%;
  display: flex;
  background-size: cover;
}

.profileContainer {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profileBio {
  color: black;
  font-family: 'roboto';
  text-align: center;
  font-size: 12px;
}

.leftContainers {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}
.nameText {
  font-size: 20px;
  font-family: 'Roboto';
}
p {
  color: white;
  font-family: 'Roboto';
}
.FilterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rightContainer {
  overflow-y: scroll;
}
.searchInput {
  margin: 20px;
  background-color: transparent;
  border-width: 2px;
  border-color: white;
  border-style: solid;
  width: 30%;
  color: white;
  padding: 20px;
  height: 10px;
  border-radius: 15px;
}
