.bgContainer {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}
.jobDetailsContainer {
  max-width: 90%;
  background-color: #272727;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  border-radius: 15px;
}

.header {
  display: flex;
  width: 18%;
}
.companyLogo {
  height: 100px;
  width: 100px;
}
.locationContainer {
  display: flex;
  justify-content: space-between;
}
.employmentType {
  display: flex;
  justify-content: space-between;
  width: 10%;
}
.descriptionHead {
  color: white;
  font-family: 'Roboto';
  font-size: 20px;
}
.descriptionText {
  font-size: 15px;
}

.skillsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 60%;
}

.skillsText {
  font-size: 20px;
  font-weight: bold;
  margin-left: 0px;
}

.similarJobsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  color: white;
  width: 100%;
}
